<html>
  <head>
    <link href="/styles.css", rel="stylesheet", type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <h1><a href="http://blog.rubybestpractices.com">Ruby Best Practices</a></h1>
        <h2 class="tagline">Increase Your Productivity -- Write Better Code</h2>
     </div>
     <div id="content">
       <div id="main">
        <%= yield %>
      </div>

      <div id="navbar">
        <div id="about">
          <p>
          <a href="/about">About the blog</a><br/>
          </p><p>
          <a href="http://rubybestpractices.com">About the book</a>
          </p>
        </div>
      </div>

    </div>

    <div id="footer">
      <div id="meta">
        <p>Footer text goes here</p>
      </div>
    </div>
  </div>
  </body>
</html>
