<html>
  <head>
    <link href="/styles.css", rel="stylesheet", type="text/css">
  </head>
  <body>
    <h1>Ruby Best Practices</h1>
    <h2>Increase Your Productivity -- Write Better Code</h2>
    <%= yield %>
    Replace this footer
  </body>
</html>
