html, body, form, fieldset {
  -x-system-font:none;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:100%;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:150%;
  margin:0;
  padding:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
  margin:1em 0;
  padding:0;
}
li, dd, blockquote {
  margin-left:1em;
}
form label {
  cursor:pointer;
}
fieldset {
  border:medium none;
}
input, select, textarea {
  font-size:100%;
  padding:2px;
}
textarea {
  font-size:130%;
}

body {
  color:#333333;
  font-size:80%;
}

a, a:link {
  color:#333333;
}

a:visited {
  color:#666666;
}

a:hover {
  color:#000000;
  text-decoration:none;
}

a img {
  border:0 none;
}

h1, h2, h3, h4 {
  font-weight:normal;
}

h2 {
  font-size:150%;
}

h3 {
  font-size:130%;
}

h4 {
  font-size:100%;
  font-weight:bold;
}

h5 {
  font-size:90%;
}

h6 {
  font-size:80%;
  font-weight:normal;
  text-transform:uppercase;
}

code, kbd {
  font-size:120%;
}

hr {
  background-color:#DDD;
  border:1px solid #DDD;
  height:1px;
}

dt {
  font-weight:bold;
}

pre {
  background-color:#F7F7F7;
}

tt {
  font-size:110%;
  background-color:#F7F7F7;
}

/* layout */
div#wrapper {
  background-color:#FFFFFF;
}

div#header {
  border-bottom:1px solid #DDDDDD;
  height:90px;
  margin:0 auto;
  padding:0;
  position:relative;
  width:900px;
}

div#header h1 { margin-bottom: 0.2em; }
div#header h2.tagline { margin:0; font-size:100%; }

div#content {
  margin:0 auto;
  width:900px;
}

div#main {
  float:left;
  margin:10px 0 0;
  width:580px;
}

div#navbar {
  float:right;
  margin:10px 0 0 20px;
  width:250px;
}

div#navbar div#about {
 font-size: 130%;
 margin:1em 0 0; 
}

div#footer {
  float:left;
  width:100%;
}

div#meta {
  border-top:1px solid #DDDDDD;
  color:#999999;
  font-family:Arial,Helvetica,sans-serif;
  font-size:90%;
  margin:0 auto;
  width:900px;
}
