=title Solve <em>the</em> problem, not just <em>a</em> problem
=description Geeks are prone to build comnplext tools to solve problems, but the real goal is to solve the <em>right</em> problems
=entry
This is the body

